* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Noto Naskh Arabic', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: blanchedalmond;
}



/* Start Starting Animation */
#starting_animation {
  margin-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#starting_animation .img img {
  animation: UpAndDown 7s infinite ease-in-out;
}

#starting_animation .loading img {
  margin-top: 50px;
  width: 200px;
  height: 200px;
}

@keyframes UpAndDown {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.7);
  }
}

/* End Starting Animation */

/* Start Adiya */
.start_button {
  display: none;
  color: white;
  margin: 120px;
  width: 350px;
  height: 100vh;
  font-size: 32px;
  flex-direction: column;
  justify-content: space-between;
}

.start_button button {
  position: absolute;
  bottom: 100px;
  left: 50%;
  font-size: 30px;
  transform: translateX(-50%);
  color: white;
  padding: 6px 18px;
  border-radius: 5px;
  background: blueviolet;
  border: none;
  outline: none;
  cursor: pointer;
}

/* End Adiya */

/* Start Game Section */
.game {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  margin-top: 100px;
  height: 100vh;
  width: 100%;
}

.game .button_options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game .button_options button {
  border: none;
  outline: none;
}

.game .button_options button:not(:last-child) {
  margin-bottom: 50px;
}

.game .logo {
  margin-top: -80px;
}

.game .logo img {
  width: 200px;
}




.btn-sq2 {
  width: 35%;
  height: 45px;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  padding: 0 5px;
  font-size: 18px;
  font-weight: bold;
  background: #343334;
  overflow: hidden;
  transition: transform 0.1s;
}

.btn-sq2 span a {
  color: #636263;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: 0.5s;
}

.btn-sq2 span {
  position: relative;
  /* pointer-events: none; */
  color: #636263;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: 0.5s;
}

.btn-sq2:hover span {
  color: white;
}

.btn-sq2:before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: var(--i);
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: 1s, left 0s, top 0s;
}

.btn-sq2:hover:before {
  width: 250px;
  height: 250px;
}

/* Start New User Form */
#newUserForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 40%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  border-radius: 10px;
  background: #233036d0;
}

#newUserForm>input[type='text'] {
  outline: none;
  border: none;
  height: 50px;
  font-size: 18px;
  width: 70%;
  padding: 5px 10px;
  background: transparent;
  border-bottom: 1px solid #597;
  color: white;
  letter-spacing: 1px;
  margin-top: 20px;
}

#newUserForm>input[type='text']::placeholder {
  color: rgb(3, 196, 103);
}

#newUserForm>input[type='text'] {
  caret-color: rgb(3, 196, 103);
}

#newUserForm>input[type='submit'] {
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 20px;
  background: rgb(2, 156, 81);
  color: white;
}

#newUserForm>input[type='submit']:hover {
  background: rgb(3, 196, 103)
}

/* End New User Form */

/* End Game Section */


/* my Framework */
.none {
  display: none;
}

.flex {
  display: flex
}